{% ifequal status 1 %}
    <div id="myAlert2" class="alert alert-warning">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong>表单错误！
    </div>
{% endifequal %}
{% ifequal status 2 %}
    <div id="myAlert3" class="alert alert-warning">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong>两次密码不一致
    </div>
{% endifequal %}
{% ifequal status 3 %}
    <div id="myAlert3" class="alert alert-warning">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong>密码错误
    </div>
{% endifequal %}
{% ifequal status 4 %}
    <div id="myAlert3" class="alert alert-warning">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong>密码或验证码错误
    </div>
{% endifequal %}
{% ifequal status 5 %}
    <div id="myAlert3" class="alert alert-warning">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong>项目不存在
    </div>
{% endifequal %}
{% ifequal status 6 %}
    <div id="myAlert3" class="alert alert-warning">
        <a class="close" data-dismiss="alert">&times;</a>
        操作成功
    </div>
{% endifequal %}

