<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <body>
        {% include "header.html" %}
        <div class="container-fluid">
                <main role="main" >
                    {% ifequal projectNum 0 %}
                    <div class="jumbotron">
                        <div style="text-align: center;">
                        <p>您当前没有管理的项目，是否创建一个项目进行管理</p>
                        </div>
                        <a class='btn btn-lg btn-primary btn-block' href="manage/create">创建</a>
                    </div>
                    {% else %}
                        {% for one in project %}
                        <div class="jumbotron">
                            <form class="form-signin" method="POST">
                                <div class="card">
                                    <div class="card-header">
                                        <h4><li>Name: {{one.name}}</li></h4>
                                        <li>Code: {{one.code}}</li>
                                    </div>
                                    <div class="card-body">
                                        <h4><li><strong>Describe:</strong></li></h4>
                                        <div class="container-fluid">
                                            <a style="font-size: large;">{{one.describe}}</a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                {% csrf_token %}
                                <div class="col-md-6 offset-md-5">
                                    <button class="btn btn-lg btn-primary" type="submit" value={{one.code}} name="code">管理</button>
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    {% endifequal %}   
                </main>         
        </div>    
    </body>
</html>